@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/*white #F6F7EB
red #E94F37
black #393E41*/
body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    background-color: #393E41;
}
section {
    margin: 60px  0;
}

h2 {
    color: #E94F37;
}
a{
    text-decoration: none;
}

footer {
    background-color: #F6F7EB;
    padding: 10px;
    text-align: center;
}
.contacto-container {
    display: grid;
    grid-template-columns: 50% 50%;
}
footer h2 {
    color: #E94F37;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #F6F7EB;
    height: 40px;
    font-weight: 500;
    color: #E94F37;
}
.nav-button {
    font-size: 18px;
}
.nav-button:hover {
    cursor: pointer;
}
.titulo {
    text-align: center;
    font-size: 30px;
    margin: 35px;
    color: #eb4034;
}
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-info {
    display: flex;
    border-radius: 14px;
    margin: 15px;
    padding: 15px;
    align-items: center;
    box-shadow: 0px 0px 8px 5px #0a0a0a80;
    transition: 0.5s;
    width: 85%;
    background-color: #F6F7EB;
}

.card-info:hover {
    box-shadow: 0px 0px 8px 5px #eb403490;
    transform: scale(1.05, 1.05);
}
.cv {
    text-decoration: none;
    font-weight: 500;
    color: #3C5179;
}
.intro {
    line-height: 1.8;
}
.card-stack {
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 14px;
    margin: 15px;
    padding: 15px;
    align-items: center;
    box-shadow: 0px 0px 8px 5px #0a0a0a80;
    transition: 0.5s;
    width: 85%;
    background-color: #F6F7EB;
}
.card-stack:hover {
    box-shadow: 0px 0px 8px 5px #eb403490;
    transform: scale(1.05, 1.05);
}
.nombre-proyecto {
    color: #eb4034;
    font-size: 20px;
}

.card-project {
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    margin: 30px;
    padding: 15px;
    align-items: center;
    box-shadow: 0px 0px 8px 5px #0a0a0a80;
    transition: 0.5s;
    width: 85%;
    background-color: #F6F7EB;
}
.card-project:hover {
    box-shadow: 0px 0px 8px 5px #eb403490;
    transform: scale(1.05, 1.05);
}
.project-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 20px;
}
.foto {
    width:240px;
    height:240px;
    border-radius: 50%;
    margin-right: 25px;
}
.project-image {
    width: 500px;
    heigth: 330px;
    margin: 6px;
    border-radius: 15px;
}

.list {
    width: 1080px;
    display: grid;
    grid-template-columns: 50% 50%;
    line-height: 1.5;
}
.link-repo{
    font-weight: 500;
    font-size: 20px;
    color: #3C5179;
}
.contacto-text {
    color: #E94F37;
    font-weight: 500;
    font-size: 20px;
    margin: 10px;
}
.contacto-container {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    height: 100px;
}